@model UserLoginVM


<div class="panel panel-default">
    <div class="panel-heading">
        Se connecter
    </div>

    <div class="panel-body panel-edit">

        <div class="form-horizontal">

            <div class="form-group">
                <label for="Email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Password">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="Password" value="@Model.Password" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-10">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-info"  href="#"
                                href="@Url.NewsBoardUrlHelper().Action("User", "UserLogin", "Login")"
                                type="button" ns-action-type="simplePostAction">
                            Se connecter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
