################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewBoardRestApi/bin/Debug/netcoreapp1.0
/NewBoardRestApi/obj/Debug/netcoreapp1.0
/NewsBoard/bin/Debug/netcoreapp1.0
/NewsBoard/node_modules/.bin
/NewsBoard/obj/Debug/netcoreapp1.0
/NewsBoard/Properties/PublishProfiles
/.vs
ApiUtilities/bin/
DiscoverWebSite/bin/
SiteParser/bin/
WebAppUtilities/bin/