@{
    ViewData["Title"] = "Home Page";
}


<div class="form-horizontal">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Veuillez inserer l'adresse d'une page
            </div>

            <div class="panel-body panel-edit">
                <div class="form-group">
                    <label for="WebSiteUrl" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" id="WebSiteUrl" name="WebSiteUrl" placeholder="WebSiteUrl">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-info" ns-action-url="@Url.Action("GetDiscoverWebSite")" type="button" ns-action-type="simplePostAction">
                            Afficher les informations
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" id="websiteDetails">
    </div>
</div>
