@model TagCreateVM

<h4>Creation d'un Tag</h4>


<input type="text" name="Label" value="@Model.Label" />
<button class="btn btn-info"
        action="@Url.NewsBoardUrlHelper().Action("Tag", "TagCreate", "Create")"
        actiondata="" type="button" name="simplePostAction">
    Create
</button>