@model NewsBoard.wwwroot.Controls.SimpleGetAction.SimpleGetActionModel

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="~/ressources/materialize/css/materialize.css" rel="stylesheet" />
<script src="~/ressources/materialize/js/materialize.js"></script>

<div href="test" />
<div href="testwithParam" ns-action-data="3" />

testwithLabel: <div href="test">testwithLabel</div>
