@model PermissionVM

<div class="panel panel-default">
    <div class="panel-heading">
        Editer un Permission
    </div>

    <div class="panel-body panel-edit">

        <div class="form-horizontal">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Label</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Label" name="Label" value="@Model.Label" placeholder="Label">
                </div>
            </div>

            <div class="form-group">
                <label for="Key" class="col-sm-2 control-label">Cle technique</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Key" name="Key" value="@Model.Key" placeholder="Cle">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-info"
                                ns-action-url="@Url.NewsBoardUrlHelper().Action("Permission", "PermissionEdit", "Update")"
                                type="button" ns-action-type="simplePostAction">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>