@model NewsBoard.wwwroot.Controls.CheckboxTest.CheckboxModel
@{
    ViewData["Title"] = "Home Page";
}


avec un form ?
<form asp-action="Index" asp-controller="CheckBox"  method="post">
    <checkBox for="Test"></checkBox>
    <input type="submit" />
</form>



