@model GroupEditVM


<div class="panel panel-default">
    <div class="panel-heading">
        Creation d'un Groupe
    </div>

    <div class="panel-body panel-edit">

        <div class="form-horizontal">

            <div class="form-group">
                <label for="Label" class="col-sm-2 control-label">Nom du Groupe</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Label" name="Label" value="@Model.Label" placeholder="Non du Groupe">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Roles associes</label>


                <div class="col-sm-10">
                    @Html.NewsBoardUIHelper().CheckBoxListFor(m => m.Permissions)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-info"
                            ns-action-url="@Url.NewsBoardUrlHelper().Action("Group", "GroupCreate", "Create")"
                            type="button" ns-action-type="simplePostAction">
                        Creer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
