<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="NewsBoardContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\source\git\NewsBoard\NewBoardRestApi\db\NewsBoardContext.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlServer" />
  </connectionStrings>



  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>