@model NewsBoard.wwwroot.Home.HomeModel

<div class="col col-md-6">
    <asyncLoader url="@Url.NewsBoardUrlHelper().Action("User","UserSubscription","Index")">
        Chargement des articles de l'utilisateur...
        <div class='loader'></div>
    </asyncLoader>
</div>

<div class="col col-md-6">
    <asyncLoader url="@Url.NewsBoardUrlHelper().Action("Feed","FeedList","Index", new FeedListFilterVM() { }) ">
        Chargement des flux ...
        <div class='loader'></div>
    </asyncLoader>
</div>
