@model NewsBoard.wwwroot.Home.HomeModel

<div class="col col-md-6">
    <asyncLoader url="@Url.NewsBoardUrlHelper().Action("User","UserSubscription","Index", new ArticleListFilterVM() { OnlyUserSubscription = true }) ">
        Chargement des flux ...
        <div class='loader'></div>
    </asyncLoader>
</div>

<div class="col col-md-6">
    <asyncLoader url="@Url.NewsBoardUrlHelper().Action("Feed","FeedList","Index", new FeedListFilterVM() { OnlyUserSubscription = true }) ">
        Chargement des flux ...
        <div class='loader'></div>
    </asyncLoader>
</div>