@model TagVMList


<div class="panel panel-default">
    <div class="panel-heading">
        Les Tags
    </div>

    <div class="panel-body">
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            <button type="button"
                    class="btn btn-info btn-xs"
                    ns-action-url="@Url.NewsBoardUrlHelper().Action("Tag", "TagCloud", "GetBrowseByTag", new { Id=Model.Tags[i].Id})"
                    ns-action-type="simpleGetAction"
                    aria-haspopup="true"
                    aria-expanded="false">
                @Model.Tags[i].Label
            </button>
        }
    </div>
</div>


