
<li><a class="btn btn-success" id="loginMenuLink" href="@Url.NewsBoardUrlHelper().Action("User","UserMenu", "GetLogin")" type="button" ns-action-type="simpleGetAction">Se connecter</a></li>
<li><a href="@Url.NewsBoardUrlHelper().Action("User","UserMenu","GetRegister")" type="button" ns-action-type="simpleGetAction">Creer un compte</a></li>
