
<li><a href="#" class="btn btn-primary btn-sm" ns-action-url="@Url.NewsBoardUrlHelper().Action("User","UserMenu", "GetLogin")" type="button" ns-action-type="simpleGetAction">Login</a></li>
<li><a href="#" ns-action-url="@Url.NewsBoardUrlHelper().Action("User","UserMenu","GetRegister")" type="button" ns-action-type="simpleGetAction">Register</a></li>
