<div class="panel panel-default">
    <div class="panel-heading">
        Bienvenue a toi !
    </div>

    <div class="panel-body panel-edit">
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-12" style="text-align:center;margin-top: 50px;margin-bottom: 10px;margin-bottom: 100px;">
                    <h2>
                        Bienvenue a toi !
                    </h2>
                </div>
            </div>

            <div class="form-group">
                <label for="Label" class="col-sm-3 control-label"> Veux-tu avoir un petit tour des fonctionnalites que ce site possede ?</label>
                <div class="col-sm-8">
                    <a href="#" class="btn btn-primary" id="loginMenuLink" ns-action-url="@Url.NewsBoardUrlHelper().Action("Tutorial", "Tutorial", "GetStep0")" type="button" ns-action-type="simpleGetAction">OUI</a>
                </div>
            </div>

            <div class="form-group">
                <a href="#" class="btn btn-success" id="loginMenuLink" ns-action-url="@Url.NewsBoardUrlHelper().Action("User","UserMenu", "GetLogin")" type="button" ns-action-type="simpleGetAction">Non, je suis ici chez moi, redirige moi vers la page de login.</a>
            </div>
        </div>
    </div>
</div>


