@model NewsBoard.wwwroot.Home.HomeModel

<div class="col col-md-6">
    <div ns-loader-url="@Url.NewsBoardUrlHelper().UserArticleListAction">
        Chargement des flux ...
        <div class='loader'></div>
    </div>
</div>

<div class="col col-md-6">
    <div ns-loader-url="@Url.NewsBoardUrlHelper().SuggestedFeedListAction">
        Chargement des flux ...
        <div class='loader'></div>
    </div>
</div>



<script>   
    $(function () {
        var fatalMessage = "@TempData["FatalMessage"]";
        if (fatalMessage != undefined && fatalMessage.length > 0) {
            $.notify({ message: fatalMessage }, { type: 'fatal' });
        }
    });
</script>