
<li><a href="#" action="@Url.NewsBoardUrlHelper().Action("User","UserMenu", "GetLogin")" actiondata="" type="button" name="simpleGetAction">Login</a></li>
<li><a href="#" action="@Url.NewsBoardUrlHelper().Action("User","UserMenu","GetRegister")" actiondata="" type="button" name="simpleGetAction">Register</a></li>